[submodule "bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade
[submodule "bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule "bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule "bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "bundle/peaksea"]
	path = .vim/bundle/peaksea
	url = https://github.com/vim-scripts/peaksea
[submodule "bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/vim-git"]
	path = .vim/bundle/vim-git
	url = https://github.com/tpope/vim-git
[submodule "bundle/vim-go-snippets"]
	path = .vim/bundle/vim-go-snippets
	url = https://github.com/ghthor/vim-go-snippets
[submodule "bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/textabyss"]
	path = .vim/bundle/textabyss
	url = https://github.com/q335r49/textabyss
[submodule "bundle/vim-vinegar"]
	path = .vim/bundle/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/vim-go-impl"]
	path = .vim/bundle/vim-go-impl
	url = https://github.com/rhysd/vim-go-impl
[submodule "bundle/VimCompletesMe"]
	path = .vim/bundle/VimCompletesMe
	url = https://github.com/ajh17/VimCompletesMe.git
[submodule "bundle/elm-vim"]
	path = .vim/bundle/elm-vim
	url = https://github.com/ElmCast/elm-vim.git
[submodule "bundle/ex.next.syntax.vim"]
	path = .vim/bundle/es.next.syntax.vim
	url = https://github.com/othree/es.next.syntax.vim.git
[submodule "bundle/vim-json"]
	path = .vim/.vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "bundle/vim-jsx"]
	path = .vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/solidity.vim"]
	path = .vim/bundle/solidity.vim
	url = git@github.com:dmdque/solidity.vim.git
[submodule "bundle/vim-solidity"]
	path = .vim/bundle/vim-solidity
	url = git@github.com:tomlion/vim-solidity.git
[submodule "bundle/lightline.vim"]
	path = .vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "bundle/vim-shfmt"]
	path = .vim/bundle/vim-shfmt
	url = git@github.com:z0mbix/vim-shfmt.git
