[submodule "scm_breeze"]
	path = pkg/scm_breeze/.scm_breeze
	url = https://github.com/ghthor/scm_breeze
[submodule "bundle/vim-go"]
	path = pkg/vim/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-hclfmt"]
	path = pkg/vim/.vim/bundle/vim-hclfmt
	url = git@github.com:ghthor/vim-hclfmt.git
[submodule "bundle/vim-less"]
	path = pkg/vim/.vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "bundle/vim-jade"]
	path = pkg/vim/.vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade
[submodule "bundle/vim-snipmate"]
	path = pkg/vim/.vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "bundle/vim-go-snippets"]
	path = pkg/vim/.vim/bundle/vim-go-snippets
	url = https://github.com/ghthor/vim-go-snippets
[submodule "bundle/tagbar"]
	path = pkg/vim/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/vim-snippets"]
	path = pkg/vim/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/vim-go-impl"]
	path = pkg/vim/.vim/bundle/vim-go-impl
	url = https://github.com/rhysd/vim-go-impl
[submodule "bundle/elm-vim"]
	path = pkg/vim/.vim/bundle/elm-vim
	url = https://github.com/ElmCast/elm-vim.git
[submodule "bundle/ex.next.syntax.vim"]
	path = pkg/vim/.vim/bundle/es.next.syntax.vim
	url = https://github.com/othree/es.next.syntax.vim.git
[submodule "bundle/vim-jsx"]
	path = pkg/vim/.vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/vim-shfmt"]
	path = pkg/vim/.vim/bundle/vim-shfmt
	url = https://github.com/z0mbix/vim-shfmt.git
[submodule "bundle/python-mode"]
	path = pkg/vim/.vim/bundle/python-mode
	url = https://github.com/python-mode/python-mode.git
	branch = develop
[submodule "bundle/yajs.vim"]
	path = pkg/vim/.vim/bundle/yajs.vim
	url = https://github.com/othree/yajs.vim.git
[submodule "bundle/vim-yaml-folds"]
	path = pkg/vim/.vim/bundle/vim-yaml-folds
	url = https://github.com/pedrohdz/vim-yaml-folds.git
[submodule "bundle/earthly.vim"]
	path = pkg/vim/.vim/bundle/earthly.vim
	url = https://github.com/earthly/earthly.vim.git
[submodule "bundle/vinfo"]
	path = pkg/vim/.vim/bundle/vinfo
	url = https://github.com/alx741/vinfo.git
[submodule "bundle/microviche"]
	path = pkg/vim/.vim/bundle/microviche
	url = https://github.com/q335r49/microviche.git
[submodule "bundle/fzf"]
	path = pkg/vim/.vim/bundle/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "bundle/fzf.vim"]
	path = pkg/vim/.vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "bundle/VimCompletesMe.vim"]
	path = pkg/vim/.vim/bundle/VimCompletesMe.vim
	url = https://git.sr.ht/~ackyshake/VimCompletesMe.vim
