[user]
	email = ghthor@gmail.com
	name = Will Drengwitz
[github]
	user = ghthor

[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
	ignorecase = false
	excludesfile = /Users/wdrengwitz/.global.gitignore
[color]
	ui = auto

[branch "master"]
	rebase = true
[branch]
	autosetuprebase = always
[push]
	default = current
