[Unit]
Description=A Bitcoin Full Node
After=network.target

[Service]
ExecStart=/usr/bin/bitcoind -dbcache=4096
Restart=on-failure

[Install]
WantedBy=default.target
