[user]
	email = ghthor@gmail.com
	name = Will Owens
	signingkey = 2E5231C73B0B6D5E
[includeIf "gitdir:~/voltusdev/"]
	path = ~/voltusdev/gitconfig

[commit]
	gpgsign = true

[github]
	user = ghthor

[core]
	editor = vim
	ignorecase = false
[color]
	ui = auto

[branch "master"]
	rebase = true
[branch]
	autosetuprebase = always
[push]
	default = current
